<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <script type="text/javascript">

        divH = 0;

        function checkResize() {
            var h = jQuery("#windowMainContent").height();
            if (h != divH) {
                divH = h;
                $("#windowMainBg").css("height", $(document).height());
            }
        }

        var timer = setInterval(checkResize, 500);

        $(document).ready(function () {
            divH = jQuery("#windowMainContent").height();

            $("#windowErrorBg").css("height", $(document).height());
            $("#windowMainBg").css("height", $(document).height());

            @if (ViewData["errorMessage"] !=  null && ViewData["errorMessage"] != "")
            {
                <text>
                $('#windowErrorContent').html("Error: @ViewData["errorMessage"]");
                $("#windowErrorBg").fadeIn();
                </text>
            }

            $("#closeError").click(function () {
                $("#windowErrorBg").fadeOut();
                return false;
            });

            $("#closeMain").click(function () {
                $("#windowMainBg").fadeOut();
                return false;
            });
        });
    </script>

    <div class="fuzzError" id="windowErrorBg">
        <div class="windowFrameError">
            <div id="windowErrorContent" class="errorMessage">
            </div>
            <input id="closeError" type="button" value="Ok" style="display: block; margin: 0 auto; margin-top: 25px" />
        </div>
    </div>

    <div class="fuzz" id="windowMainBg">
        <div class="windowFrame">
            <a id="closeMain" class="closeWindowButton" href="#"><img src="~/Content/images/close.png" /></a>
            <div id="windowMainContent">
            </div>
        </div>
    </div>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.css" />
    <script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
</body>
</html>
