@model ProjectManager.Models.CreateTaskModel

<h2>Add new task</h2>

<div class="row">
    @using (Html.BeginForm("Create", "Tasks", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.WorkHours, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.WorkHours, new { @class = "form-control", @type = "number" })
                    @Html.ValidationMessageFor(m => m.WorkHours, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Priority, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Priority, new { @class = "form-control", @type = "number" })
                    @Html.ValidationMessageFor(m => m.Priority, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MaxDevelopers, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.MaxDevelopers, new { @class = "form-control", @type = "number" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="hidden" name="projectId" value="@ViewData["projectId"]"/>
                    <input class="action-button" type="submit" id="createTask" value="Create task" style="display: block; margin: 0 auto;" />
                </div>
            </div>



            @*<h3>Name of the task:</h3>
        <input style="width: 100%" type="text" name="taskName" /><br />
        <h3>Describe the task:</h3>
        <textarea style="width: 100%" type="text" name="taskDescription" rows="4" /><br />
        <h3>Estimate work hours:</h3>
        <input style="width: 100%" type="number" name="workhours" /><br />
        <h3>Select priority:</h3>
        <select name="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <h3>Maximum number of developers:</h3>
        <input style="width: 100%" type="number" name="maxDevs" /><br />

        <input type="hidden" name="projectId" value="@ViewData["projectId"]"/>
        <input type="submit" id="createTask" value="Create task" style="display: block; margin: 0 auto;" />*@
    }
</div>