@model ProjectManager.Models.TaskDetailsModel

<script type="text/javascript">

    $(document).ready(function () {
        $('#writeCommentDiv').hide();
        $('#writeComment').click(function () {
            $('#writeCommentDiv').show();
        })


        $("#postComment").click(function () {
            var content = $("#commentContent").val();
            var comment = { commentContent: content};
            $.ajax({
                type: "POST",
                url: "/Tasks/PostComment/" +@Model.Task.Id,
                data: comment,
                datatype: "html",
                success: function (data) {
                    $("#currentComments").prepend(data);
                }
            });

            $('#writeCommentDiv').hide();
        });
    });
</script>

<h2>@Model.Task.Name</h2>
<p>
    Assigned to:
    @foreach (var name in Model.DeveloperNames)
    {
        @name
        if (Model.DeveloperNames.Last() != @name)
        {@(", ")}
    }
    <br /><br />
    State: @Model.State<br /><br />
    Work hours:<br />
    @foreach (var entry in Model.WorkHours)
    {
        @(" -" + @entry.Key + ": " + entry.Value);<br/>
    }
  
    <h3>Comments</h3> <input type="button" id="writeComment" value="Write comment" style='margin-bottom: 5px;' />

    <div>
        <div id="writeCommentDiv" class="writeComment" style="display: inline-block;">
            <textarea id="commentContent" class="commentTextArea"></textarea>
            <input type="button" id="postComment" value="Post comment" style='float: right;' />
        </div>

        <div id="currentComments" style="display: inline-block; width: 100%;">
            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("_Comment", comment);
            }
        </div>
    </div>
</p>