@model ProjectManager.Models.TaskDetailsModel

<script type="text/javascript">

    $(document).ready(function () {
        $('#writeCommentDiv').hide();
        $('#writeComment').click(function () {
            $('#writeCommentDiv').toggle();
        })


        $("#postComment").click(function () {
            var content = $("#commentContent").val();
            var comment = { commentContent: content};
            $.ajax({
                type: "POST",
                url: "/Tasks/PostComment/" +@Model.Task.Id,
                data: comment,
                datatype: "html",
                success: function (data) {
                    $("#currentComments").prepend(data);
                }
            });

            $('#writeCommentDiv').hide();
        });
    });
</script>

<h2>@Model.Task.Name</h2>

@if ((bool)ViewData["isLeader"] && Model.Task.State != (int)ViewData["doneId"])
{
    <br />
    
    if (Model.Task.State == (int)ViewData["deletedId"])
    {
        using (Html.BeginForm("RestoreTask", "Tasks", new { taskId = Model.Task.Id }, FormMethod.Post))
        {
            <button type="submit">Restore task</button>
        }
    }

    else
    {
        using (Html.BeginForm("DeleteTask", "Tasks", new { taskId = Model.Task.Id }, FormMethod.Post))
        {
            <button type="submit">Delete task</button>
        }
    }
}

@if ((bool)ViewData["isLeader"] && Model.Task.State == (int)ViewData["newId"])
{
    using (Html.BeginForm("AddDeveloper", "Tasks", new { taskId = Model.Task.Id }, FormMethod.Post))
    {
        <fieldset>
            <legend>Add developer</legend>

            <select name="addUserId">
            @foreach (var item in Model.AddableDevelopers)
            {
                <option value="@item.Id">@item.UserName</option>
            }
            </select>

            <input type="submit" id="addDeveloper" value="Add developer"  />

        </fieldset>

        <hr style="border-top:1px solid black;"/>
    }

    using (Html.BeginForm("RemoveDeveloper", "Tasks", new { taskId = Model.Task.Id }, FormMethod.Post))
    {

        <fieldset>
            <legend>Remove developer</legend>

            <select name="removeUserId">
            @foreach (var item in Model.RemovableDevelopers)
            {
                <option value="@item.Id">@item.UserName</option>
            }
            </select>

            <input type="submit" id="removeDeveloper" value="Remove developer"  />

        </fieldset>
    }
}
<br />

@if ((bool)ViewData["isLeader"] && Model.Task.State == (int)ViewData["newId"])
{
    using (Html.BeginForm("FinalizeUserApplication", "Tasks", new { taskId = Model.Task.Id }, FormMethod.Post))
    {
        <button type="submit">Finalize user application</button>
    }
    
    <br />
}

@if ((bool)ViewData["isUserOnTask"] && Model.Task.State == (int)ViewData["activeId"])
{
    using (Html.BeginForm("AddWorkTime", "Tasks", new { taskId = Model.Task.Id }, FormMethod.Post))
    {

        //data-provide="datepicker" data-date-format="yyyy.mm.dd" 
        <br /> <br /> 
        
        <p>Start time:</p> <input name="startTime" type="text" 
            value="@DateTime.Now.ToString("yyyy.MM.dd H:mm")" />
    
        <br /> <br /> 

        <p>End time:</p> <input name="endTime" type="text"
            value="@DateTime.Now.ToString("yyyy.MM.dd H:mm")" />
        
        <br /><br />
        
        <button type="submit">Add Work Time</button>
    
        <br /> <br /> 
    }
}

<p>
    Assigned to:
    @foreach (var name in Model.DeveloperNames)
    {
        @name
        if (Model.DeveloperNames.Last() != @name)
        {@(", ")}
    }
    <br /><br />
    State: @Model.StateName<br /><br />
    Work hours:<br />
    @foreach (var entry in Model.WorkHours)
    {
        @(" -" + @entry.Key + ": " + entry.Value);<br/>
    }

    @if (Model.CanComment)
    {
    <h3>Comments</h3>
        
    <input type="button" id="writeComment" value="Write comment" style='margin-bottom: 5px;' />

        <div>
            <div id="writeCommentDiv" class="writeComment" style="display: inline-block;">
                <textarea id="commentContent" class="commentTextArea"></textarea>
                <input type="button" id="postComment" value="Post comment" style='float: right;' />
            </div>

            <div id="currentComments" style="display: inline-block; width: 100%;">
                @foreach (var comment in Model.Comments)
                {
                    @Html.Partial("_Comment", comment);
                }
            </div>
        </div>
    }
</p>