@model ProjectManager.Models.AddDeveloperDialogModel

@using (Html.BeginForm("AddDeveloper", "Projects", FormMethod.Post))
{
    <fieldset>
        <legend>Add developer</legend>

        <select name="addUserId">
        @foreach (var item in Model.AddableDevelopers)
        {
            <option value="@item.Id">@item.UserName</option>
        }
        </select>

        <input type="hidden" name="projectId" value="@Model.ProjectId" />
        <input type="submit" id="addDeveloper" value="Add developer"  />

    </fieldset>

    <hr style="border-top:1px solid black;"/>
}

@using (Html.BeginForm("RemoveDeveloper", "Projects", FormMethod.Post))
{

    <fieldset>
        <legend>Remove developer</legend>

        <select name="removeUserId">
        @foreach (var item in Model.RemovableDevelopers)
        {
            <option value="@item.Id">@item.UserName</option>
        }
        </select>

        <input type="hidden" name="projectId" value="@Model.ProjectId" />
        <input type="submit" id="removeDeveloper" value="Remove developer"  />

    </fieldset>
}