@model IEnumerable<ProjectManager.Models.DeveloperListElement>

<script type="text/javascript">

    $(document).ready(function () {
        //Adjust height of overlay to fill screen when page loads
        $("#fuzz").css("height", $(document).height());

        $("#addDeveloperDialog").click(function (event) {
            $('#windowMainContent').load('/Projects/AddDeveloperDialog/' + @ViewData["projectId"]);
            $("#windowMainBg").fadeIn();
            return false;
        });

    })
</script>

@{
    if ((bool)ViewData["isLeader"] && !(bool)ViewData["isDone"])
    {
        <input type="button" class="action-button" style="margin: 5px" id="addDeveloperDialog" value="Add / remove developer" /><br />
    }
}

@foreach (var item in Model)
{
    <div class="task-element">
        <p class="project-title">@item.ProjectUser.UserName</p>
        <p>
            Work hours on project: @item.WorkHours <br />
            Tasks done: @item.TasksDone <br />
            Assigned tasks: @item.AssignedTasks
        </p>
    </div>
}