@model ProjectManager.Models.OverviewModel

<p>@Model.Project.Description</p>

<p class="fieldLabel">
    @if (Model.Project.Done)
    {
        <b class="doneStyle">Project done</b>
    }

    else
    {
        if ((bool)ViewData["isLeader"])
        {
            using (Html.BeginForm("Finish", "Projects", new { Id = Model.Project.Id }))
            {
                <button type="submit" class="action-button">Finish project</button>
            }
        }
    }
</p>

<p class="fieldLabel">Deadline:</p>
@Model.Project.Deadline.ToString("yyyy.MM.dd")


<p class="fieldLabel">Project leader:</p>
@Model.ProjectLeaderName


<p class="fieldLabel">
    Developers:
</p>
@foreach (var name in Model.DeveloperNames)
{
    @name
    if (@Model.DeveloperNames.Last() != @name)
    {@(", ")}
}


<p class="fieldLabel">Task summary:</p>
    &nbsp;Done: @Model.TasksDone<br />
    &nbsp;Active: @Model.TasksActive<br />
    &nbsp;Unassigned: @Model.TasksUnassigned<br /><br />


<p class="fieldLabel">Total workhours: @Model.WorkHours</p>