@model ProjectManager.Models.OverviewModel

<p>@Model.Project.Description</p>

<p>Project state:
    @if (Model.Project.Done)
    {
        <b>DONE</b>
    }

    else
    {
        <b>ACTIVE</b>
        <br />
        
        if((bool)ViewData["isLeader"])
        {
            using (Html.BeginForm("Finish", "Projects", new { Id = Model.Project.Id }))
            {
                <button type="submit">FINISH</button>
            }
        }
    }
</p>

<p>Deadline: 
    @Model.Project.Deadline.ToString("yyyy.MM.dd")
</p>

<p>Project leader: 
    @Model.ProjectLeaderName
</p>

<p>Developers: 
    @foreach (var name in Model.DeveloperNames){
        @name 
        if (@Model.DeveloperNames.Last() != @name) {@(", ")} 
    }
</p>

<p>Tasks:<br />
    &nbsp;-Done: @Model.TasksDone<br />
    &nbsp;-Active: @Model.TasksActive<br />
    &nbsp;-Unassigned: @Model.TasksUnassigned<br />
</p>

<p>Total workhours: @Model.WorkHours</p>