@using System.Web.Helpers;
@model IEnumerable<BusinessLogicLayer.Statistics>

<script type="text/javascript">

    $(document).ready(function () {
        //Adjust height of overlay to fill screen when page loads
        $("#fuzz").css("height", $(document).height());

        $("#createStatisticsDialog").click(function (event) {
            $('#windowMainContent').load('/Statistics/CreateDialog/' + @ViewData["projectId"]);
            $("#windowMainBg").fadeIn();
            return false;
        });

        //When the message box is closed, fade out
        $(".close").click(function () {
            $("#fuzz").fadeOut();
            return false;
        });

        @if (TempData.ContainsKey("UnsavedStatistics"))
        {            
            <text>
            $('#windowMainContent').load('/Statistics/SaveDialog/');
            $("#windowMainBg").fadeIn();
            </text>
        }
    })
</script>

@if ((bool)ViewData["isLeader"])
{
    <input type="button" class="action-button" style="margin: 5px" id="createStatisticsDialog" value="New statistics" />
    <br />
}

<div class="row container">
    @foreach (var element in Model)
    {
        TempData["model"] = element;
        if (element.Public || (bool)ViewData["isLeader"])
        {
            <div class="statistics-element">
                <p class="project-title">@element.Name</p>

                    <b>@("Created on: ") </b>
                    @element.CreatedDate.ToString("yyyy.MM.dd H:mm")
                    <br /><br />
                
                    <img src="@Url.Action("GetImage", "Statistics", new { Id = element.Id })"/>
                    <br /><br />

                    @if ((bool)ViewData["isLeader"])
                    {
                        <div style="vertical-align: middle;">
                            <div style="display: table-cell;">
                                @using (Html.BeginForm("TogglePublic", "Statistics", new { statisticsId = element.Id, projectId = ViewData["projectId"] }, FormMethod.Post))
                                {
                                    <button class="action-button-small" type="submit">
                                        @if (element.Public)
                                        {
                                            <text>Set private</text>
                                        }
                                        else
                                        {
                                            <text>Set public</text>
                                        }
                                    </button>
                                }
                            </div>
                            <div style="display: table-cell; padding-left: 20px; height: 100%; vertical-align: middle;">
                                @using (Html.BeginForm("Delete", "Statistics", new { statisticsId = element.Id, projectId = ViewData["projectId"] }, FormMethod.Post))
                                {
                                    <button class="action-button-small" type="submit">Delete</button>
                                }
                            </div>
                        </div>      
                    }
            </div>
        }
    }
</div>