@model IEnumerable<ProjectManager.Models.TaskListElement>



<script type="text/javascript">
    $(document).ready(function () {
        $(".showTaskDetailsButton").click(function (event) {
            var taskIdRaw = event.target.id;
            var taskId = taskIdRaw.substring(11);
            $('#windowMainContent').load('/Tasks/Details/' + taskId);
            $("#windowMainBg").fadeIn();
            return false;
        });

        $("#createTaskDialog").click(function (event) {
            $('#windowMainContent').load('/Tasks/CreateDialog/' + @ViewData["projectId"]);
            $("#windowMainBg").fadeIn();
            return false;
        });
    })
</script>



<div style="vertical-align: middle;">
    <div style="display: table-cell;">
        <h4 ><b>Tasks</b></h4>
    </div>
    <div style="display: table-cell; padding-left: 20px; height: 100%; vertical-align: middle;">
        @{
            if ((bool)ViewData["isLeader"] && !(bool)ViewData["isDone"])
            {
                <input type="button" class="action-button-small" id="createTaskDialog" value="New task" /><br />
            }
        }
    </div>
</div>
 
<div class="row container">
    @foreach (var item in Model.Where(m => m.Task.State != (int)ViewData["deletedId"]))
    {
        <div class="task-element @if (item.State.Contains("Active")) { <text>task-active</text>}  @if (item.State.Contains("Done")){ <text>task-done</text>}">
            <p class="project-title"><a href="#" class="showTaskDetailsButton" id="TaskDetails@(item.Task.Id)">@item.Task.Name</a></p>
            <p>
                <b>Assigned to:</b>
                @foreach (var name in item.DeveloperNames)
                {
                    @name
                    if (item.DeveloperNames.Last() != @name)
                    {@(", ")}
                }
                <br />
                <b>Work hours: </b>@item.WorkHours
            </p>
        </div>
    }
</div>

@if (Model.Where(m => m.Task.State == (int)ViewData["deletedId"]).Count() > 0)
{
    <div class="row">
        <hr style="border-bottom:8px solid #d6d6d6; padding:2px;" />
        <h4 style="margin: 15px;"><b>Deleted Tasks</b></h4>
    </div>

    <div class="row container">
        @foreach (var item in Model.Where(m => m.Task.State == (int)ViewData["deletedId"]))
        {
            <div class="task-element">
                <p class="project-title"><a href="#" class="showTaskDetailsButton" id="TaskDetails@(item.Task.Id)">@item.Task.Name</a></p>
                <p>
                    Assigned to:
                    @foreach (var name in item.DeveloperNames)
                    {
                        @name
                        if (item.DeveloperNames.Last() != @name)
                        {@(", ")}
                    }
                    <br />
                    Work hours: @item.WorkHours
                </p>
            </div>
        }
    </div>
}

