@model ProjectManager.Models.ProjectsViewModel

@{
    ViewBag.Title = "Projects";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#createProjectDialog").click(function (event) {
            $('#windowMainContent').load('/Projects/CreateDialog/');
            $("#windowMainBg").fadeIn();
            return false;
        });
    });
</script>

<div style="vertical-align: middle;">
    <div style="display: table-cell;">
        <h2 style="margin-bottom: 20px; ">My projects</h2>
    </div>
    <div style="display: table-cell; padding-left: 20px; height: 100%; vertical-align: middle;">
        <input type="button" id="createProjectDialog" value="New project" class="action-button" />
    </div>
</div>

<div class="container">
    @foreach (var item in Model.Projects)
    {
        <div class="project-element">
            <p class="project-title">@Html.ActionLink(item.Project.Name, "Details", "Projects", routeValues:  new { id = @item.Project.Id }, htmlAttributes: null)</p>
            Developers: @item.Developers <br />
            Tasks: @item.Tasks <br/>
            Deadline: @item.Project.Deadline.ToString("yyyy.MM.dd")
        </div>
    }
</div>
